
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: headtag">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragment :: header"></div>
<div th:replace="fragment :: logo"></div>
<div th:replace="fragment :: menu1"></div>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="container-fluid">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Contact Us
                        <div class="col-md-4 right-c">
                            <h4 ><i class="fa fa-home">&ensp;Handmade Jewelry Shop</i></h4>
                            <p><i class="fa fa-map-marker">&ensp;Dillibazar, Kathmandu</i></p>
                            <p><i class="fa fa-envelope">&ensp;jewelry@gail.com</i></p>
                            <p><i class="fa fa-phone">&ensp;098987</i></p>
                            <p> <i class="fa fa-mobile-phone">&ensp;98764454</i>
                        </div>
                        <div class="col-md-8 contact-m">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <form action="contact_user" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 contact-u">
                                            <input type="text" name="name" id="name" placeholder="Your Name" class="form-control">
                                        </div>
                                        <div class="col-md-6 contact-u">
                                            <input type="text" name="company" id="company" placeholder="Company name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 contact-u">
                                            <input type="email" name="email" id="email" placeholder="Your Email" class="form-control">
                                        </div>
                                        <div class="col-md-6 contact-u">
                                            <input type="phone" name="phone" id="phone" placeholder="Your Phone No." class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <textarea name="details" id="details" cols="90" rows="5" placeholder="Your Message" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary">Send</button>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div><!-- End Page Title -->


</main>
<div th:insert="fragment :: footer"></div>
</body>
</html>

