
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: headtag">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragment :: header"></div>
<div th:replace="fragment :: logo"></div>
<div th:replace="fragment :: menu"></div>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="container-fluid register">
            <div class="row">
                <div class="col-md-6 register-content">
                    <h3><i class="fa fa-registered"></i>&ensp;  Register Now </h3>
                    <form method="post" th:action="@{/register}" th:object="${user}"  >
                        <input type="hidden" name="id" th:field="*{id}">
                        <div class="form-group">
                            <label for="firstName">First Name <span>*</span>
                                <a style="color: red;"></a>
                            </label>
                            <input type="text" id="firstName" required th:field="*{firstName}"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name <span>*</span>
                                <a style="color: red;"></a>
                            </label>
                            <input type="text" id="lastName" required th:field="*{lastName}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span>*</span>
                                <a style="color: red;"></a>
                            </label>
                            <input type="text" id="email" required th:field="*{email}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span>*</span>
                                <a style="color: red;"></a>
                            </label>
                            <input type="password" id="password" required th:field="*{password}" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Register</button>
                        </div>
                        <p>Already have an account? <a th:href="@{/login}">Login</a></p>


                    </form>
                </div>
            </div>
        </div>

    </div><!-- End Page Title -->


</main>
<div th:insert="fragment :: footer"></div>
</body>
</html>

