
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: headtag">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragment :: header"></div>
<div th:replace="fragment :: logo"></div>
<div th:replace="fragment :: menu1"></div>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="container-fluid product">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 header-cat">
                    <div class="row">
                        <div class="container">
                            <div class="col-lg-3 col-md-3 col-sm-3 title-cat">Available Products</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 new-arrival">
                    <div class="container">
                        <div class="box12" th:each="product : ${products}">
                            <div class="sub-box12">
                                <a href="#" th:href="@{/home/productDetails/{id}(id=${product.id})}"> <img src="" th:src="@{${'/productImages/' + product.imageName}}" alt=""></a>
                                <a href="#" th:href="@{/home/productDetails/{id}(id=${product.id})}"> <p th:text="${product.name}"></p></a>
                                <h4 th:text="${product.price}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div><!-- End Page Title -->


</main>
<div th:insert="fragment :: footer"></div>
</body>
</html>

